body{
	background: #f0ffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f0ffff 0%, #dbffff 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f0ffff), color-stop(100%,#dbffff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f0ffff 0%,#dbffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f0ffff 0%,#dbffff 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f0ffff 0%,#dbffff 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f0ffff 0%,#dbffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ffff', endColorstr='#dbffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	gid:DXImageTransform
	.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 100%;
	width: 100%;
}
.banner {
	position: fixed;
	width: 100%;
	background: #000;
	top: 0;
	color: #FFF;
	font-family: sans-serif;
	text-align: center;
	padding: 10px;
	font-weight: lighter;
	font-size: 13px;
}
a, a:visited, a:link, a:active {
	color: green;
	text-decoration: underline;
}
a, a:visited, a:link, a:active {
	color: green;
	text-decoration: underline;
}
a, a:visited, a:link, a:active {
	color: green;
	text-decoration: underline;
}
.cycle-outer{
	width: 534px;
	height: 260px;
	position: absolute;
	top: 50%;
	margin-top: -160px;
	left: 50%;
	margin-left: -267px;
}
.cycle-wrapper{
	width: 534px;
	height: 260px;
	margin: 0 auto;
	position: relative;
}
.cycle-wheel-front{
	margin: 100px 0 0 330px;
}
.cycle-wheel-back{
	margin: 100px 0 0 0px;
}
.cycle-wheel-outer{
	background: transparent;
	border: 5px solid #aaa;
	border-radius: 50%;
	width: 190px;
	height: 190px;
	position: absolute;
	margin-top: 5px;
	-webkit-animation: wheel-rotate 2s linear infinite;
	-moz-animation: wheel-rotate 2s linear infinite;
	animation: wheel-rotate 2s linear infinite;
}
.cycle-wheel-outer:after {
	background: transparent;
	border: 4px solid #EF9058;
	border-radius: 50%;
	width: 176px;
	height: 176px;
	position: absolute;
	margin: 3px;
	content: "";
}
@-webkit-keyframes wheel-rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes wheel-rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@-moz-keyframes wheel-rotate {
    from{
        -moz-transform: rotate(0deg);
    }
    to{
        -moz-transform: rotate(360deg);
    }
}
.spoke{
	position: absolute;
	width: 1px;
	height: 200px;
	background: #ccc;
	margin-left: 95px;
	margin-top: -5px;
	z-index: 0;
}
.spoke:after{
	content: "";
	position: absolute;
	width: 1px;
	height: 200px;
	background: #ccc;
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	transform: rotate(120deg);
}
.spoke:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 200px;
	background: #ccc;
	-webkit-transform: rotate(240deg);
	-moz-transform: rotate(240deg);
	transform: rotate(240deg);
}
.spoke-container li:nth-child(2){
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	transform: rotate(30deg);
}
.inner-disc{
	background: #666;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 50%;
	margin-top: -10px;
}
.cycle-wheel-back .inner-disc:after{
	content: "";
	background: #666;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 50%;
	margin-top: -10px;
}
.inner-disc-2{
	background: transparent;
	width: 6px;
	height: 6px;
	border: 2px solid #FFF;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	top: 50%;
	margin-top: -5px;
}
.cycle-wheel-back .inner-disc-2:after{
	content: "";
	background: transparent;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -13px;
	top: 50%;
	margin-top: -13px;
	border: 4px dotted #666;
}



